{% extends "index.html" %} {% block content %}
<nav>
    <a href="{{ path_base }}"><strong>Open Source</strong> Cookbook</a>
    <a href="contribute">Contribute a recipe!</a>
</nav>
<section class="recipe">
    <div class="illustration">
        <img src="illustrations/{{ recipe.category.value }}.png" alt="" />
    </div>
    <h1>{{ recipe.recipe_name }}</h1>
    <div class="credit">
        {% if recipe.name %} Submitted by {{ recipe.name }} {% endif %} {% if
        recipe.residence %} from {{ recipe.residence }} {% endif %}
    </div>
    <blockquote>{{ recipe.quote }}</blockquote>
    {% if recipe.tags %}
    <div class="tags">
        {% for tag in recipe.tags %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </div>
    {% endif %}
    <div class="lists">
        <div class="ingredients">
            <h2>Ingredients</h2>
            {% for section in recipe.ingredient_sections %}
                {% if section.title %}
                    <h3>{{ section.title }}</h3>
                {% endif %}
                <ul>
                    {% for ingredient in section.items %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="directions">
            <h2>Directions</h2>
            {% for section in recipe.instruction_sections %}
                {% if section.title %}
                    <h3>{{ section.title }}</h3>
                {% endif %}
                <ol>
                    {% for step in section.steps %}
                        <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}